.mainbtn {
    border: none;
    width: 33%;
    height: 30px;
    background-color: #9966cc;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    line-height: 30px;
    color: #ffffff;
    transition: 1s;
    font-size: 16px;
    &:hover {
        transition: 1s;
        background-color: #991199;
        color: #ffff00;
        border-radius: 10px;
    }
}

.errorvalidate {
    border: 2px solid red !important;
    color: red;
    &:focus {
        color: black;
    }
}

.noerrorvalidate {
    border: 2px solid green !important;
    color: green;
    &:focus {
        color: black;
    }
}
